<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454411492438-q47njc15tqov94is03dtii6hk53p8cqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454411492438-q47njc15tqov94is03dtii6hk53p8cqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAHSffskQpfN_3twyDqz4vOlA92Z-RKSZs</string>
	<key>GCM_SENDER_ID</key>
	<string>454411492438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.kihomori.morita.Techitterfirebase</string>
	<key>PROJECT_ID</key>
	<string>techitterfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>techitterfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454411492438:ios:fd6492436cfd30c4fd6ff7</string>
	<key>DATABASE_URL</key>
	<string>https://techitterfirebase.firebaseio.com</string>
</dict>
</plist>